.breadcrumbs {
  margin-top: 32px;
  margin-bottom: 34px;

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__link {
    @include reset-link;
    color: #6B6B6B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }

  &__line {
    color: #6B6B6B;
    font-size: 14px;
  }
}