.breadcrumbs {
  margin-top: 32px;
  margin-bottom: 34px;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
    max-width: 75%;
  }

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    column-gap: 16px;
    row-gap: 4px;
    flex-wrap: wrap;
  }

  &__link {
    @include reset-link;
    color: #6B6B6B;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }

  &__line {
    color: #6B6B6B;
    font-size: 14px;
  }
}