.cards {
  margin-bottom: 60px;

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  &__title {
    color: #000;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  &__more {
    @include reset-link;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #000;

    &::after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url(../img/cards-more-icon.svg) no-repeat center / cover;
      margin-top: 6px;
    }
  }

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 19px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 197px;
    height: 318px;
    border-radius: 10px;
    background: #FFF;
    overflow: hidden;
    @include transition;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 14px;

    &:hover {
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
      transform: translateY(-10px);
    }
  }

  &__item-badge {
    width: 45px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    top: 12px;
    left: 12px;
    color: #fff;
    font-weight: 700;
    font-size: 19px;

    &_green {
      background: linear-gradient(180deg, #32E32E 0%, #10CA0D 100%);
    }

    &_red {
      background: linear-gradient(180deg, #E35A2E 0%, #CA5C0D 100%);
    }
  }

  &__like {
    @include reset-btn;
    background: url(../img/heart-icon.svg) no-repeat center / contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__img {
    width: 100%;
    height: 198px;
  }

  &__item-title {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0 0;
  }

  &__item-btn {
    width: 161px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: auto;
  }
}