.control {
  margin-bottom: 60px;

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
    position: relative;
    padding-bottom: 56px;
    border-bottom: 1px solid #000;
    height: 758px;

    @media screen and (max-width: 1439px) {
      height: 680px;
    }
  }

  &__title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 89px;

    @media screen and (max-width: 1439px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    @include reset-list;
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 232px;

    @media screen and (max-width: 1439px) {
      margin-left: 90px;
    }
  }

  &__item {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    padding-left: 30px;
    max-width: 462px;
    position: relative;
  }

  &__number {
    display: block;
    position: absolute;
    left: -90px;
    top: -30px;
  }

  &__img {
    width: 455px;
    display: block;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 1439px) {
      width: 326px;
    }
  }
}