.footer {
  padding-bottom: 80px;

  @media screen and (max-width: 1023px) {
    padding-bottom: 33px;
  }

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    height: 374px;
    gap: 20px;

    @media screen and (max-width: 1439px) {
      height: 265px;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      height: unset;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__map {
    width: 502px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 1439px) {
      width: 310px;
    }

    @media screen and (max-width: 1023px) {
      width: 60%;
      height: 250px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 210px;
    }
  }

  &__map-iframe {
    border: none;
    width: 100%;
    height: 100%;
  }

  &__info {
    width: 352px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: 1023px) {
      width: 60%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    gap: 5px;

    @media screen and (max-width: 767px) {
      height: 47px;
    }
  }

  &__cell {
    width: 203px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #6D1E28;

    @media screen and (max-width: 767px) {
      padding: 7px 13px;
      width: 183px;
    }
  }

  &__cell-txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    margin: 0;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    object-fit: cover;
  }

  &__cell-link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include reset-link;
    width: 129px;
    height: 100%;
    border-radius: 10px;
    background-color: #6D1E28;
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    color: #fff;
    @include transition;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      width: unset;
      flex-grow: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__big-cell {
    width: 100%;
    min-height: 118px;
    box-sizing: border-box;
    padding: 18px 30px 8px 46px;
    border: 1px solid #6D1E28;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;

    @media screen and (max-width: 1439px) {
      padding: 11px 13px 9px 38px;
      min-height: unset;
    }
  }

  &__big-cell-txt {
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    margin: 0;

    @media screen and (max-width: 1439px) {
      font-size: 14px;
    }
  }

  &__big-cell-txt-bold {
    font-weight: 700;
  }

  &__big-cell-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 16px;
    left: 10px;

    @media screen and (max-width: 767px) {
      top: 8px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 128px;

    @media screen and (max-width: 1439px) {
      gap: 30px;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__list {
    @include reset-list;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 58px;

    @media screen and (max-width: 1439px) {
      gap: 20px;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      gap: 10px;
    }

    @media screen and (max-width: 767px) {
      gap: 7px;
    }
  }

  &__link {
    @include reset-link;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__social {
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include transition;

    &:hover {
      opacity: .7;
    }

    &_whatsapp {
      background-image: url(../img/whatsapp-icon.svg);
    }

    &_telegram {
      background-image: url(../img/telegram-icon.svg);
    }
  }

  &__old {
    @include reset-link;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-grey);
    text-decoration: underline;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }

  &__adresses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &__logo-container {
    display: block;
    @include reset-link;
    height: calc(100% - 124px);
    width: 100%;

    @media screen and (max-width: 1023px) {
      max-width: 60%;
      margin: 0 auto;
    }
  }

  &__logo {
    display: block;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}