.popup {
  background-color: #00000060;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  @include transition;

  &_opened {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    width: 1172px;
    min-height: 183px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 55px 35px 75px;
    position: relative;

    @media screen and (max-width: 1439px) {
      width: var(--content-width);
    }

    @media screen and (max-width: 767px) {
      padding: 24px 20px;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 298px;
    grid-auto-rows: 54px;
    column-gap: 90px;
    row-gap: 20px;

    @media screen and (max-width: 1439px) {
      column-gap: 34px;
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 1023px) {
      margin-bottom: 20px;
      font-size: 23px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__mail {
    @include reset-link;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #000;

    @media screen and (max-width: 1023px) {
      order: 2;
    }

    @media screen and (max-width: 767px) {
      height: 45px;
      font-size: 15px;
    }
  }

  &__fieldset {
    display: flex;
    gap: 94px;
    border: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      width: 100%;
      gap: 30px;
      margin-bottom: 25px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 5px;
      padding-left: 25px;
    }
  }

  &__input-row {
    flex-grow: 1;
    position: relative;
  }

  &__input-icon {
    position: absolute;
    left: -32px;
    top: 5px;
    width: 20px;
    height: 20px;
    object-fit: contain;

    @media screen and (max-width: 767px) {
      left: -26px;
    }
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 5px 5px 10px 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    position: relative;

    &:focus-visible {
      outline: 1px solid #000;
      border-radius: 5px;
    }

    &[type=text] {
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: -50px;
        top: 0;
        width: 24px;
        height: 24px;
        background: url(../img/phone-icon.svg) no-repeat center / contain;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1023px) {
      gap: 20px;
      order: 3;
    }

    @media screen and (max-width: 767px) {
      gap: 5px;
    }
  }

  &__submit {
    width: 150px;
    height: 54px;
    font-size: 20px;

    @media screen and (max-width: 1023px) {
      flex-grow: 1;
    }

    @media screen and (max-width: 767px) {
      height: 45px;
      font-size: 18px;
    }
  }

  &__link {
    @include reset-link;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
      width: 45px;
      height: 45px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    @media screen and (max-width: 767px) {
      width: 20px;
      height: 20px;
    }
  }

  &__close {
    @include reset-btn;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: url(../img/close.svg) no-repeat center / cover;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }
}