<section class="cart">
  <div class="cart__wrapper">
    <h1 class="cart__title">
      <span class="cart__icon"></span>
      Корзина
    </h1>
    <div class="cart__content">
      <ul class="cart__list">
        <li class="cart__item">
          <div class="cart__item-left">
            <img src="./img/product-img-1.jpg" alt="Фото букета" class="cart__img">
            <h2 class="cart__subtitle">
              Букет <br>
              <strong>NEW YORK</strong>
            </h2>
          </div>
          <div class="cart__amount">
            <p class="cart__item-txt">
              Количество
            </p>
            <div class="cart__input-container">
              <input type="number" class="cart__input">
              <button class="cart__delete-btn"></button>
            </div>
          </div>
          <div class="cart__number">
            <p class="cart__item-txt">
              Всего
            </p>
            <span class="cart__item-price">11111 ₽</span>
          </div>
        </li>
        <li class="cart__item">
          <div class="cart__item-left">
            <img src="./img/product-img-1.jpg" alt="Фото букета" class="cart__img">
            <h2 class="cart__subtitle">
              Букет <br>
              <strong>NEW YORK</strong>
            </h2>
          </div>
          <div class="cart__amount">
            <p class="cart__item-txt">
              Количество
            </p>
            <div class="cart__input-container">
              <input type="number" class="cart__input">
              <button class="cart__delete-btn"></button>
            </div>
          </div>
          <div class="cart__number">
            <p class="cart__item-txt">
              Всего
            </p>
            <span class="cart__item-price">11111 ₽</span>
          </div>
        </li>
        <li class="cart__item">
          <div class="cart__item-left">
            <img src="./img/product-img-1.jpg" alt="Фото букета" class="cart__img">
            <h2 class="cart__subtitle">
              Букет <br>
              <strong>NEW YORK</strong>
            </h2>
          </div>
          <div class="cart__amount">
            <p class="cart__item-txt">
              Количество
            </p>
            <div class="cart__input-container">
              <input type="number" class="cart__input">
              <button class="cart__delete-btn"></button>
            </div>
          </div>
          <div class="cart__number">
            <p class="cart__item-txt">
              Всего
            </p>
            <span class="cart__item-price">11111 ₽</span>
          </div>
        </li>
      </ul>
      <aside class="cart__aside">
        <ul class="cart__features">
          <li class="cart__features-item">
            <img src="./img/camera-icon.svg" alt="Фотоаппарат" class="cart__features-img">
            <p class="cart__features-txt">
              Фото собранного букета
            </p>
          </li>
          <li class="cart__features-item">
            <img src="./img/document-icon.svg" alt="Фотоаппарат" class="cart__features-img">
            <p class="cart__features-txt">
              Фирменная открытка
            </p>
          </li>
          <li class="cart__features-item">
            <img src="./img/leaf-icon.svg" alt="Фотоаппарат" class="cart__features-img">
            <p class="cart__features-txt">
              Гарантия свежести
            </p>
          </li>
          <li class="cart__features-item">
            <img src="./img/car-icon.svg" alt="Фотоаппарат" class="cart__features-img">
            <p class="cart__features-txt">
              Бесплатная доставка <br>
              27/7
            </p>
          </li>
        </ul>
        <div class="cart__delivery">
          <h3 class="cart__delivery-subtitle">
            <span class="cart__delivery-icon"></span> Доставка
          </h3>
          <p class="cart__delivery-txt">
            Доставка бесплатно 24/7 по Санкт-Петербургу, в согласованную дату.Время доставки – от 1 часа. Возможна
            срочная доставка по согласованию с менеджером.
          </p>
        </div>
        <div class="cart__result">
          <div class="cart__result-row">
            <p class="cart__result-txt">
              <strong>Сумма:</strong>
            </p>
            <div class="cart__result-txt">
              11111 ₽
            </div>
          </div>
          <span class="cart__result-line"></span>
          <div class="cart__result-row">
            <p class="cart__result-txt">
              <strong>Итого:</strong>
            </p>
            <div class="cart__result-txt">
              11111 ₽
            </div>
          </div>
          <button type="submit" class="cart__order-btn button">оформить</button>
        </div>
      </aside>
    </div>
  </div>
</section>