<section class="catalog">
  <div class="catalog__wrapper">
    <nav class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">главная</a>
        </li>
        <span class="breadcrumbs__line">/</span>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">каталог</a>
        </li>
        <span class="breadcrumbs__line">/</span>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">букет new york</a>
        </li>
      </ul>
    </nav>
    <form class="catalog__filter">
      <div class="catalog__filter-container">
        <span class="catalog__filter-type">цветок:</span>
        <div class="catalog__filter-dropdown">
          <span class="catalog__filter-dropdown-value">Тюльпан</span>
          <span class="catalog__filter-arrow"></span>
          <ul class="catalog__filter-dropdown-list">
            <li class="catalog__filter-dropdown-item">Розы</li>
            <li class="catalog__filter-dropdown-item">Пионы</li>
            <li class="catalog__filter-dropdown-item">Бум</li>
            <li class="catalog__filter-dropdown-item">Что-то очень длинное</li>
          </ul>
        </div>
      </div>
      <div class="catalog__filter-container">
        <span class="catalog__filter-type">фильтр:</span>
        <div class="catalog__filter-dropdown catalog__filter-dropdown_second">
          <span class="catalog__filter-dropdown-value">Тюльпан</span>
          <span class="catalog__filter-arrow"></span>
          <ul class="catalog__filter-dropdown-list">
            <li class="catalog__filter-dropdown-item">Розы</li>
            <li class="catalog__filter-dropdown-item">Пионы</li>
            <li class="catalog__filter-dropdown-item">Бум</li>
            <li class="catalog__filter-dropdown-item">Что-то очень длинное</li>
          </ul>
        </div>
      </div>
      <div class="catalog__filter-container catalog__filter-container_price">
        <span class="catalog__filter-type">стоимость:</span>
        <fieldset class="catalog__fieldset">
          <span class="catalog__range">от</span>
          <input type="number" class="catalog__input">
          <span class="catalog__range">до</span>
          <input type="number" class="catalog__input">
        </fieldset>
      </div>
      <button type="submit" class="catalog__submit button">найти</button>
      <button type="button" class="catalog__filter-close"></button>
    </form>
    <button type="button" class="catalog__filter-btn"></button>
    <ul class="cards__list cards__list_large">
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item cards__item_large">
        <span class="cards__item-badge cards__item-badge_green">%</span>
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
    </ul>
  </div>
</section>