<section class="contacts">
  <div class="contacts__wrapper">
    <h1 class="contacts__title">
      <span class="contacts__icon"></span>
      Контакты
    </h1>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__info">
          <h2 class="contacts__subtitle">
            Набережная реки Фонтанки
          </h2>
          <p class="contacts__txt">
            Набережная реки Фонтанки, 122 <br>
            Технологический институт-2 (1 км)
          </p>
          <div class="contacts__comms">
            <a href="tel: +7 (921) 908-00-70" class="contacts__link contacts__link_large button">+7 (921) 908-00-70</a>
            <a href="#" class="contacts__link button contacts__link_whatsapp"></a>
            <a href="#" class="contacts__link button contacts__link_telegram"></a>
          </div>
          <p class="contacts__txt">
            В случае если цветы в коробке вам срочно потребовались, позвоните или напишите нам, и мы обязательно
            поможем! Самовывоз возможен через час после предварительного заказа.
          </p>
          <p class="contacts__txt contacts__txt_italic">
            Gentle Flowers.
          </p>
          <span class="contacts__geomark"></span>
          <span class="contacts__worktime">24/7</span>
        </div>
        <div class="contacts__map">

        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__info">
          <h2 class="contacts__subtitle">
            Набережная реки Фонтанки
          </h2>
          <p class="contacts__txt">
            Набережная реки Фонтанки, 122 <br>
            Технологический институт-2 (1 км)
          </p>
          <div class="contacts__comms">
            <a href="tel: +7 (921) 908-00-70" class="contacts__link contacts__link_large button">+7 (921) 908-00-70</a>
            <a href="#" class="contacts__link button contacts__link_whatsapp"></a>
            <a href="#" class="contacts__link button contacts__link_telegram"></a>
          </div>
          <p class="contacts__txt">
            В случае если цветы в коробке вам срочно потребовались, позвоните или напишите нам, и мы обязательно
            поможем! Самовывоз возможен через час после предварительного заказа.
          </p>
          <p class="contacts__txt contacts__txt_italic">
            Gentle Flowers.
          </p>
          <span class="contacts__geomark"></span>
          <span class="contacts__worktime">24/7</span>
        </div>
        <div class="contacts__map">

        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__info">
          <h2 class="contacts__subtitle">
            Набережная реки Фонтанки
          </h2>
          <p class="contacts__txt">
            Набережная реки Фонтанки, 122 <br>
            Технологический институт-2 (1 км)
          </p>
          <div class="contacts__comms">
            <a href="tel: +7 (921) 908-00-70" class="contacts__link contacts__link_large button">+7 (921) 908-00-70</a>
            <a href="#" class="contacts__link button contacts__link_whatsapp"></a>
            <a href="#" class="contacts__link button contacts__link_telegram"></a>
          </div>
          <p class="contacts__txt">
            В случае если цветы в коробке вам срочно потребовались, позвоните или напишите нам, и мы обязательно
            поможем! Самовывоз возможен через час после предварительного заказа.
          </p>
          <p class="contacts__txt contacts__txt_italic">
            Gentle Flowers.
          </p>
          <span class="contacts__geomark"></span>
          <span class="contacts__worktime">24/7</span>
        </div>
        <div class="contacts__map">

        </div>
      </li>
    </ul>
  </div>
</section>