<section class="control">
  <div class="control__wrapper">
    <h2 class="control__title">
      Фото и видео контроль вашего заказа
    </h2>
    <ul class="control__list">
      <li class="control__item">
        Перед доставкой букета менеджер отправляет фото для согласования в мессенджеры, соц. сети или на email.
        <img src="./img/number-1.png" alt="Цифра" class="control__number control__number_first">
      </li>
      <li class="control__item">
        Вы утверждаете букет или мы согласовываем с Вами изменения.
        <img src="./img/number-2.png" alt="Цифра" class="control__number">
      </li>
      <li class="control__item">
        Ваш заказ передается в службу логистики.
        <img src="./img/number-3.png" alt="Цифра" class="control__number">
      </li>
      <li class="control__item">
        По вашему желанию можем сделать фото получателя в момент вручения.
        <img src="./img/number-4.png" alt="Цифра" class="control__number">
      </li>
    </ul>
    <img src="./img/control-img.png" alt="Телефон" class="control__img">
  </div>
</section>