<section class="delivery">
  <div class="delivery__wrapper">
    <h1 class="delivery__title">
      <span class="delivery__icon"></span>
      Доставка
    </h1>
    <div class="delivery__content">
      <div class="delivery__info">
        <p class="delivery__txt">
          Бесплатная доставка по Санкт - Петербургу в радиусе 15км 24 часа. Минимальная сумма для бесплатной доставки -
          2000р. Профессиональные, вежливые курьеры.
        </p>
        <p class="delivery__txt">
          <strong>1. Оплата наличными или картой курьеру</strong>
        </p>
        <ul class="delivery__list">
          <li class="delivery__item">
            <p class="delivery__txt">
              Оплатить наличными курьеру, Вы можете при получении заказа.
            </p>
          </li>
          <li class="delivery__item">
            <p class="delivery__txt">
              Так же Вы можете оплатить заказ наличными в любом из наших салонов.
            </p>
          </li>
        </ul>
        <p class="delivery__txt">
          <strong>2. Оплата банковской картой</strong>
        </p>
        <p class="delivery__txt">
          Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa, Mastercard,
          Maestro, МИР. После подтверждения заказа откроется защищенное окно с платежной страницей процессингового
          центра где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя
          карты используется протокол 3D Secure.
        </p>
        <p class="delivery__txt">
          <strong>Гарантии безопасности</strong>
        </p>
        <p class="delivery__txt">
          Процессинговый центр защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS
          3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая
          передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности.
          CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации
          держателя карты используется протокол 3D Secure.
        </p>
        <p class="delivery__txt">
          <strong>Безопасность онлайн платежей</strong>
        </p>
        <p class="delivery__txt">
          Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является
          конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном
          виде и не сохраняются на нашем Web-сервере.
        </p>
        <p class="delivery__txt">
          <strong>Бесплатная доставка по Санкт - Петербургу 24 часа. Профессиональные, вежливые курьеры.</strong>
        </p>
      </div>
      <aside class="delivery__aside">
        <div class="delivery__map">

        </div>
        <div class="delivery__questions">
          <h2 class="delivery__title">
            Остались вопросы?
          </h2>
          <p class="delivery__txt">
            Позвоните нам, напишите в мессенджере, либо отсавьте заявку на обратный звонок - наш менеджер свяжется с
            вами и поможет с любым аспектом!
          </p>
          <div class="delivery__questions-bottom">
            <button type="button" class="delivery__btn popup-btn button">обратный звонок</button>
            <a href="#" class="delivery__link delivery__link_whatsapp button"></a>
            <a href="#" class="delivery__link delivery__link_telegram button"></a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>