<section class="feedback">
  <div class="feedback__wrapper">
    <div class="feedback__top">
      <h2 class="feedback__title">
        Отзывы
      </h2>
      <ul class="feedback__service-list">
        <li class="feedback__service-item feedback__service-item_all">
          <button type="button" class="feedback__service-btn">все</button>
        </li>
        <li class="feedback__service-item feedback__service-item_yandex">
          <button type="button" class="feedback__service-btn">все</button>
        </li>
        <li class="feedback__service-item feedback__service-item_google">
          <button type="button" class="feedback__service-btn">все</button>
        </li>
        <span class="feedback__bg feedback__bg_all"></span>
      </ul>
      <div class="feedback__nav">
        <button type="button" class="feedback__nav-btn feedback__nav-btn_prev"></button>
        <button type="button" class="feedback__nav-btn feedback__nav-btn_next"></button>
      </div>
    </div>
  </div>
</section>