<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__top">
      <div class="footer__map">
        <iframe class="footer__map-iframe"
          src="https://yandex.ru/map-widget/v1/?um=constructor%3a9aa094a34b7bd0b683da942219ffb040a9a5ad423ece2a93b25cd38cd0751cc2&amp;source=constructor">
        </iframe>
      </div>
      <div class="footer__adresses">
        <div class="footer__big-cell">
          <p class="footer__big-cell-txt footer__big-cell-txt-bold">
            Gentle Flowers
          </p>
          <p class="footer__big-cell-txt">
            Санкт-Петербург, улица Автовская, дом 14, вход со двора
          </p>
          <img src="./img/geomark-red-icon.svg" alt="Геометка" class="footer__big-cell-icon">
        </div>
        <div class="footer__big-cell">
          <p class="footer__big-cell-txt footer__big-cell-txt-bold">
            Gentle Flowers
          </p>
          <p class="footer__big-cell-txt">
            Санкт-Петербург, улица Автовская, дом 14, вход со двора
          </p>
          <img src="./img/geomark-red-icon.svg" alt="Геометка" class="footer__big-cell-icon">
        </div>
        <div class="footer__big-cell">
          <p class="footer__big-cell-txt footer__big-cell-txt-bold">
            Gentle Flowers
          </p>
          <p class="footer__big-cell-txt">
            Санкт-Петербург, улица Автовская, дом 14, вход со двора
          </p>
          <img src="./img/geomark-red-icon.svg" alt="Геометка" class="footer__big-cell-icon">
        </div>
      </div>
      <div class="footer__info">
        <div class="footer__row">
          <div class="footer__cell">
            <img src="./img/phone-red-icon.svg" alt="Телефон" class="footer__icon">
            <p class="footer__cell-txt">
              +7 (921) 908-00-70
            </p>
          </div>
          <a href="tel:+7 (921) 908-00-70" class="footer__cell-link button">позвонить</a>
        </div>
        <div class="footer__row">
          <div class="footer__cell">
            <img src="./img/mail-red-icon.svg" alt="Почта" class="footer__icon">
            <p class="footer__cell-txt">
              example@mail.ru
            </p>
          </div>
          <a href="#" class="footer__cell-link button">написать</a>
        </div>
        <a href="./index.html" class="footer__logo-container">
          <img src="./img/logo.png" alt="Логотип Gentle Flowers" class="footer__logo">
        </a>
      </div>
    </div>
    <div class="footer__bottom">
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="./index.html" class="footer__link">главная</a>
          </li>
          <li class="footer__item">
            <a href="./catalog.html" class="footer__link">каталог</a>
          </li>
          <li class="footer__item">
            <a href="./delivery.html" class="footer__link">доставка</a>
          </li>
          <li class="footer__item">
            <a href="./contacts.html" class="footer__link">контакты</a>
          </li>
          <li class="footer__item">
            <a href="./profile.html" class="footer__link">личный кабинет</a>
          </li>
          <li class="footer__item">
            <a href="./cart.html" class="footer__link">корзина</a>
          </li>
        </ul>
      </nav>
      <div class="footer__socials">
        <a href="#" class="footer__social footer__social_whatsapp"></a>
        <a href="#" class="footer__social footer__social_telegram"></a>
      </div>
    </div>
  </div>
</footer>