<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__map">

    </div>
    <div class="footer__content">
      <h2 class="footer__title">
        Немного о салоне
      </h2>
      <p class="footer__txt">
        Сеть цветочных магазинов GF — это подборка самых красивых, необычных и изящных цветов. Лучше рейтинги на самых
        популярных площадках: ЯндексМаркет, Flowwow и.т.д У нас Вы найдете авторские, эксклюзивные цветочные композиции,
        которые, при правильном уходе, будут долго радовать Вас и Ваших любимых.Благодаря прямым, собственным поставкам
        из Голландии, Эквадора, Кении и других стран, Мы всегда гарантируем свежесть и долгую стойкость наших
        букетов.«Доверяйте лучшее GF»
      </p>
      <a href="#" class="footer__link button">о нас</a>
    </div>
  </div>
</footer>