<header class="header">
  <div class="header__top">
    <a href="./index.html" class="header__link">
      <img src="./img/logo.png" alt="Логотип" class="header__logo">
    </a>
    <ul class="header__address-list">
      <li class="header__address">
        Фонтанки, 122
      </li>
      <span class="header__line"></span>
      <li class="header__address">
        Дыбенко, 24
      </li>
      <span class="header__line"></span>
      <li class="header__address">
        Ленсовета, 87
      </li>
      <span class="header__line"></span>
      <li class="header__address">
        24/7
      </li>
    </ul>
    <div class="header__info">
      <a href="#" class="header__phone">+7 (921) 908-00-07</a>
      <span class="header__line"></span>
      <button type="button" class="header__call popup-btn button">обратный звонок</button>
      <span class="header__line"></span>
      <ul class="header__contacts">
        <li class="header__contacts-item">
          <a href="#" class="header__link">
            <img src="./img/telegram-icon.svg" alt="Иконка соцсети" class="header__icon">
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="#" class="header__link">
            <img src="./img/vk-icon.svg" alt="Иконка соцсети" class="header__icon">
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="#" class="header__link">
            <img src="./img/instagram-icon.svg" alt="Иконка соцсети" class="header__icon">
          </a>
        </li>
        <li class="header__contacts-item">
          <a href="#" class="header__link">
            <img src="./img/whatsapp-icon.svg" alt="Иконка соцсети" class="header__icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-content">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="./index.html" class="header__link">главная</a>
          </li>
          <li class="header__nav-item header__nav-item_hover header__nav-item_catalog">
            <div class="header__nav-item-dropdown">
              <a href="./catalog.html" class="header__link">
                каталог
              </a>
              <span class="header__nav-item-arrow"></span>
            </div>
            <ul class="header__dropdown">
              <li class="header__dropdown-item">
                <a href="#" class="header__link">что-то</a>
              </li>
              <li class="header__dropdown-item">
                <a href="#" class="header__link">что-то</a>
              </li>
              <li class="header__dropdown-item">
                <a href="#" class="header__link">пункт</a>
              </li>
            </ul>
          </li>
          <li class="header__nav-item">
            <a href="./delivery.html" class="header__link">доставка</a>
          </li>
          <li class="header__nav-item">
            <a href="./contacts.html" class="header__link">контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="header__interact-list">
        <li class="header__interact-item">
          <img src="./img/search-icon.svg" alt="Иконка" class="header__icon">
        </li>
        <li class="header__interact-item">
          <a href="./profile.html" class="header__link">
            <img src="./img/profile-icon.svg" alt="Иконка" class="header__icon">
          </a>
        </li>
        <li class="header__interact-item">
          <a href="./cart.html" class="header__link">
            <img src="./img/cart-icon.svg" alt="Иконка" class="header__icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="header__hamburger"></button>
</header>