<section class="cards">
  <div class="cards__wrapper">
    <div class="cards__top">
      <h2 class="cards__title">
        Подарки
      </h2>
      <a href="#" class="cards__more">показать еще</a>
    </div>
    <ul class="cards__list">
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
      <li class="cards__item">
        <button class="cards__like"></button>
        <img src="./img/cards-img.png" alt="Изображение карточки" class="cards__img">
        <h3 class="cards__item-title">
          Название букета
        </h3>
        <button class="cards__item-btn button">
          9 999 ₽
        </button>
      </li>
    </ul>
  </div>
</section>