<section class="promo">
  <div class="promo__wrapper">
    <div class="promo__swiper swiper">
      <p class="promo__caption">
        PREMIUM QUALITY
      </p>
      <ul class="promo__swiper-wrapper swiper-wrapper">
        <li class="promo__swiper-slide swiper-slide">
          <h2 class="promo__swiper-title">
            Сезон пионов
          </h2>
          <p class="promo__swiper-txt">
            бесплатная доставка
          </p>
          <a href="#" class="promo__link promo__link_swiper button button_white">заказать</a>
        </li>
        <li class="promo__swiper-slide swiper-slide">
          <h2 class="promo__swiper-title">
            Сезон пионов
          </h2>
          <p class="promo__swiper-txt">
            бесплатная доставка
          </p>
          <a href="#" class="promo__link promo__link_swiper button button_white">заказать</a>
        </li>
        <li class="promo__swiper-slide swiper-slide">
          <h2 class="promo__swiper-title">
            Сезон пионов
          </h2>
          <p class="promo__swiper-txt">
            бесплатная доставка
          </p>
          <a href="#" class="promo__link promo__link_swiper button button_white">заказать</a>
        </li>
      </ul>
      <span class="promo__swiper-pagination"></span>
    </div>
    <ul class="promo__grid">
      <li class="promo__card promo__card_1">
        <h2 class="promo__card-title">
          Авторские букеты
        </h2>
        <img src="./img/promo-img-1.png" alt="Фото букета" class="promo__img promo__img_1">
        <a href="#" class="promo__link button button_white">в каталог</a>
      </li>
      <li class="promo__card promo__card_2">
        <h2 class="promo__card-title">
          Коробки и корзины
        </h2>
        <img src="./img/promo-img-2.png" alt="Фото букета" class="promo__img promo__img_2">
        <a href="#" class="promo__link button button_white">в каталог</a>
      </li>
      <li class="promo__card promo__card_3">
        <h2 class="promo__card-title">
          Пионы
        </h2>
        <img src="./img/promo-img-3.png" alt="Фото букета" class="promo__img promo__img_3">
        <a href="#" class="promo__link button button_white">в каталог</a>
      </li>
      <li class="promo__card promo__card_4">
        <h2 class="promo__card-title">
          Пионовидные розы
        </h2>
        <img src="./img/promo-img-4.png" alt="Фото букета" class="promo__img promo__img_4">
        <a href="#" class="promo__link button button_white">в каталог</a>
      </li>
      <li class="promo__card promo__card_5">
        <h2 class="promo__card-title">
          Шоколад и клубника
        </h2>
        <img src="./img/promo-img-5.png" alt="Фото букета" class="promo__img promo__img_5">
        <a href="#" class="promo__link button button_white">в каталог</a>
      </li>
      <li class="promo__card promo__card_6">
        <form class="promo__form">
          <h2 class="promo__card-title promo__card-title_form">
            Поможем с выбором букета
          </h2>
          <p class="promo__txt">
            Оставьте свои данные и мы свяжемся с вами, проконсультируем по любому вопросу и поможем собрать букет для
            любого повода!
          </p>
          <fieldset class="promo__fieldset">
            <input type="text" class="promo__input" placeholder="Фамилия Имя">
            <input type="tel" class="promo__input" placeholder="+7 (999) 999-99-99">
          </fieldset>
          <button type="submit" class="promo__submit button button_white">отправить</button>
        </form>
        <img src="./img/promo-img-6.png" alt="Фото букета" class="promo__form-img">
      </li>
    </ul>
  </div>
</section>