<section class="product">
  <div class="product__wrapper">
    <nav class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">главная</a>
        </li>
        <span class="breadcrumbs__line">/</span>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">каталог</a>
        </li>
        <span class="breadcrumbs__line">/</span>
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">букет new york</a>
        </li>
      </ul>
    </nav>
    <div class="product__content">
      <div class="product__gallery">
        <div class="product__swiper swiper">
          <ul class="product__swiper-wrapper swiper-wrapper list">
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-1.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__swiper-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
          </ul>
        </div>
        <div class="product__thumbs swiper" thumbsSlider="">
          <ul class="product__thumbs-wrapper swiper-wrapper list">
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-1.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
            <li class="product__thumbs-item swiper-slide">
              <img src="./img/product-img-2.jpg" alt="Картинка товара" class="product__img">
            </li>
          </ul>
        </div>
      </div>
      <div class="product__info">
        <div class="product__description">
          <h1 class="product__title">
            Букет <br>
            <strong>NEW YORK</strong>
          </h1>
          <ul class="product__description-list">
            <li class="product__description-item">
              <span class="product__description-item-category">Страна:</span>
              Нидерланды
            </li>
            <li class="product__description-item">
              <span class="product__description-item-category">Размер:</span>
              Ширина 40 см &#8194;&#8194;Высота 45 см
            </li>
            <li class="product__description-item">
              <span class="product__description-item-category">Состав:</span>
              <ul class="product__composition">
                <li class="product__composition-item">
                  Роза Эквадор Exrlorer <strong>9шт</strong>
                </li>
                <li class="product__composition-item">
                  Роза кустовая пионовидная мадам бомбастик <strong>6шт</strong>
                </li>
                <li class="product__composition-item">
                  Эвкалипт <strong>3шт</strong>
                </li>
              </ul>
            </li>
          </ul>
          <p class="product__description-txt">
            Авторский и в то же время классический букет. Нежнейшее сочетанием с пионовидными кустовыми розами и
            премиальными розами Эквадор. Идеальный вариант на любой случай
          </p>
          <button type="button" class="product__like"></button>
        </div>
        <div class="product__delivery">
          <h2 class="product__subtitle">
            <span class="product__delivery-icon"></span> Доставка
          </h2>
          <p class="product__delivery-txt">
            Доставка бесплатно 24/7 по Санкт-Петербургу, в согласованную дату.Время доставки – от 1 часа. Возможна
            срочная доставка по согласованию с менеджером.
          </p>
        </div>
      </div>
      <div class="product__features">
        <ul class="product__features-list">
          <li class="product__features-item">
            <img src="./img/camera-icon.svg" alt="Фотоаппарат" class="product__features-img">
            <p class="product__features-txt">
              Фото собранного букета
            </p>
          </li>
          <li class="product__features-item">
            <img src="./img/document-icon.svg" alt="Фотоаппарат" class="product__features-img">
            <p class="product__features-txt">
              Фирменная открытка
            </p>
          </li>
          <li class="product__features-item">
            <img src="./img/leaf-icon.svg" alt="Фотоаппарат" class="product__features-img">
            <p class="product__features-txt">
              Гарантия свежести
            </p>
          </li>
          <li class="product__features-item">
            <img src="./img/car-icon.svg" alt="Фотоаппарат" class="product__features-img">
            <p class="product__features-txt">
              Бесплатная доставка <br> 27/7
            </p>
          </li>
        </ul>
      </div>
      <div class="product__order">
        <span class="product__order-arrow"></span>
        <span class="product__order-price">4 290.00 ₽</span>
        <div class="product__order-bottom">
          <button class="product__order-btn button">заказать</button>
          <a href="#" class="product__order-link button"></a>
        </div>
      </div>
    </div>
  </div>
</section>