<section class="service">
  <div class="service__wrapper">
    <h2 class="service__title">
      Немного о сервисе
    </h2>
    <div class="service__content">
      <img src="./img/service-img.jpg" alt="Поле с цветами" class="service__img">
      <div class="service__swiper swiper">
        <ul class="service__swiper-wrapper swiper-wrapper">
          <li class="service__swiper-slide swiper-slide">
            <h3 class="service__swiper-title">
              Качество и сервис
            </h3>
            <ul class="service__swiper-list">
              <li class="service__swiper-item">
                Мы сотрудничаем с Эквадорскими, Колумбийскими, Кенийскими и Голландскими плантациями напрямую.
              </li>
              <li class="service__swiper-item">
                Поставки цветов каждый день, семь дней в неделю
              </li>
              <li class="service__swiper-item">
                В случае обоснованных претензий по качеству букетов, вернем деньги или заменим букет.
              </li>
            </ul>
          </li>
          <li class="service__swiper-slide swiper-slide">
            <h3 class="service__swiper-title">
              Качество и сервис
            </h3>
            <ul class="service__swiper-list">
              <li class="service__swiper-item">
                Мы сотрудничаем с Эквадорскими, Колумбийскими, Кенийскими и Голландскими плантациями напрямую.
              </li>
              <li class="service__swiper-item">
                Поставки цветов каждый день, семь дней в неделю
              </li>
              <li class="service__swiper-item">
                В случае обоснованных претензий по качеству букетов, вернем деньги или заменим букет.
              </li>
            </ul>
          </li>
          <li class="service__swiper-slide swiper-slide">
            <h3 class="service__swiper-title">
              Качество и сервис
            </h3>
            <ul class="service__swiper-list">
              <li class="service__swiper-item">
                Мы сотрудничаем с Эквадорскими, Колумбийскими, Кенийскими и Голландскими плантациями напрямую.
              </li>
              <li class="service__swiper-item">
                Поставки цветов каждый день, семь дней в неделю
              </li>
              <li class="service__swiper-item">
                В случае обоснованных претензий по качеству букетов, вернем деньги или заменим букет.
              </li>
            </ul>
          </li>
        </ul>
        <span class="service__swiper-pagination"></span>
      </div>
    </div>
  </div>
</section>